<br>

<div class="container">
  <div class="row">

    <div class="card mb-3">
      <br>
        <img src="/../assets/imagens/banho1.jpg" class="img-fluid" width="300" height="150" class="rounded mx-auto d-block">
        <div class="card-body">
          <br>
          <h5 class="card-title">Agendamento Centro de Estética</h5><br>
          <form class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInput">Nome</label>
              <input type="text" class="form-control" id="autoSizingInput" placeholder="Nome do Tutor">
            </div>
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingInput">Telefone</label>
                <input type="text" class="form-control" id="autoSizingInput" placeholder="Telefone">
              </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
              <div class="input-group">
                <div class="input-group-text">@</div>
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="E-mail">
              </div>
            </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>Data</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="1">04</option>
                <option value="2">05</option>
                <option value="3">06</option>
                <option value="1">07</option>
                <option value="2">08</option>
                <option value="3">09</option>
                <option value="3">10</option>
              </select>
            </div>
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Horário</option>
                  <option value="1"> 9:00</option>
                  <option value="2">10:00</option>
                  <option value="3">11:00</option>
                  <option value="4">12:00</option>
                  <option value="5">13:00</option>
                  <option value="6">14:00</option>
                  <option value="7">15:00</option>
                  <option value="8">16:00</option>
                  <option value="9">17:00</option>
                </select>
              </div>
            
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Cachorro
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Gato
                </label>
              </div>

            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingInput">Nome</label>
                <input type="text" class="form-control" id="autoSizingInput" placeholder="Nome do pet">
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Raça</option>
                  <option value="1">SRD</option>
                  <option value="2">Buldogue Francês</option>
                  <option value="3">Chow-Chow</option>
                  <option value="4">Golden retriever</option>
                  <option value="5">Lhasa Apso</option>
                  <option value="6">Pitbull</option>
                  <option value="7">Poodle</option>
                  <option value="8">Rottweiler</option>
                  <option value="9">Shih-Tzu</option>
                  <option value="10">Spitz</option>
                  <option value="10">Yorkshire</option>
                  <option value="10">Outros</option>

                </select>
              </div>
              <div class="col-auto">
                  <label class="visually-hidden" for="autoSizingInput">OBS</label>
                  <input type="text" class="form-control" id="autoSizingInput" placeholder="Observação">
                </div>
            
                <div class="col-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="form-check-label" for="autoSizingCheck">
                        Lembrar-me
                      </label>
                    </div>
                  </div>
            
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Agendar</button>
            </div>
          </form>
        </div>
      </div>
