<br>
<div class="container">
  <div class="row"> 
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alimentação</h5>
          <div class="col-md-3 register-left">
            <img src='/../assets/imagens/comida.jpg' width="140" height="90" />
         </div>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Caminhas</h5>
            <div class="col-md-3 register-left">
                <img src='/../assets/imagens/caminhas2.jpg' width="140" height="90" />
             </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Medicamentos</h5>
            <div class="col-md-3 register-left">
                <img src='/../assets/imagens/medicamento.jpg' width="140" height="90" />
             </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Brinquedos</h5>
            <div class="col-md-3 register-left">
                <img src='/../assets/imagens/brinquedos1.jpg' width="140" height="90" />
             </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Higiene</h5>
            <div class="col-md-3 register-left">
                <img src='/../assets/imagens/higiene.jpg' width="140" height="90" />
             </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Acessórios</h5>
          <div class="col-md-3 register-left">
            <img src='/../assets/imagens/acessorios.jpg' width="140" height="90" />
         </div>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>    