<div class="container">
  <div class="row"> 
<img src="/../assets/imagens/Imagem pet 4.jpg" class="img-fluid" width="1200" height="350" 
class="rounded mx-auto d-block"><br>


<br><br>
<nav class="" style="background-color: #f2f5f8;">
  <br>
  <div class="">
    <a class="" href="#"></a>
    <ul class="nav justify-content-center" >
      <li class="nav-item">
        <a class="nav-link active fw-bold fs-5" aria-current="page" routerLink="homep">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="estetica">Centro de Estética</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="hospedagem">Hospedagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="loja">Loja Virtual</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="home">Cadastro</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="chat">Chat</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="">Administrativo</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link fw-bold fs-5" routerLink="adm"></a>
      </li>
    </ul>
  </div>
  <br>
</nav>
</div>

<router-outlet></router-outlet>