<br>
<div class="container">
  <div class="row">
<div class="card mb-3">
   
    <div class="card-body">
      <h5 class="card-title">Reserva de hospedagem</h5>
      <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
       
          <label class="visually-hidden" for="autoSizingInput">Nome</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="Nome Tutor">
        </div>
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Telefone</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Telefone">
          </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="E-mail">
          </div>
        </div>
     
      
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Nome</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Nome do pet">
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect">
              <option selected>Raça</option>
              <option value="1">SRD</option>
              <option value="2">Poodle</option>
              <option value="3">Chow-Chow</option>
            </select>
          </div>
          <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInput">OBS</label>
              <input type="text" class="form-control" id="autoSizingInput" placeholder="Observação">
            </div>
        
            
            
        <div class="col-auto">
          
          <h5 class="card-title">CHECK-IN</h5>
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect">
            <option selected>Data</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
          <br>
        <div class="col-auto">
          
          <h5 class="card-title">CHECK-OUT</h5>
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect">
            <option selected>Data</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>  
                
           
        </div>
        <div>
          <button type="button" class="btn btn-info">Reservar</button>
        </div>
        
      </form>
    
  <br>
  <br>
 
  <h5 class="">AVALIAÇÃO DOS HOSPEDES:</h5>
  <br>
  <div class="card-group">  
    <div class="card"> 
      <br>
      <h5 class="card-title"> Elaine Santos | Avaliação *****</h5>
      <p class="card-text">Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie</p>
      <p class="card-text"><small class="text-muted">Comentado em 25/02/2022</small></p>
      <img src="/../assets/imagens/hospegagem5.jpg" class="card-img-top" width="150" height="250">
    </div>
    <div class="card">
      <img src="/../assets/imagens/hospegagem7.jpg" class="card-img-top" width="150" height="250">
      <div class="card-body">
       <br>
       
       <h5 class="card-title">Maria Amaral | Avaliação *****</h5>
       <p class="card-text">Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire.</p>
       <p class="card-text"><small class="text-muted">Comentado em 10/06/2022</small></p>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Leandra Reis | Avaliação *****</h5>
        <p class="card-text">Plusieurs versions sont apparues avec le temps, parfois par accident</p>
        <p class="card-text"><small class="text-muted">Comentado em 05/07/2022</small></p>
        <img src="/../assets/imagens/hospegagem8.jpg" class="card-img-top" width="150" height="250">
        
       
       
      </div>
    </div>
  </div>
