<br>
<br>
<br>


<div class="container">
<div class="card-group">
    <div class="card">
     
      <div class="card-body">
        
        <img src="../assets/imagens/banho2.jpg" class="rounded mx-auto d-block" width="250" height="150" alt="...">
        <br>
        <h5 class="card-title text-center">MISSÃO</h5>
        <br>
        <p class="card-text fw-lighter " >On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
        <br>
        
    </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <img src="../assets/imagens/srd.jpg" class="rounded mx-auto d-block" width="250" height="150" alt="...">        
        <br>
        <h5 class="card-title text-center">VISÃO</h5>
        <br>
        <p class="card-text fw-lighter">L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale.</p>
        <br>
        
    </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <img src="../assets/imagens/brinquedos.jpg" class="rounded mx-auto d-block" width="250" height="150"alt="...">
        <br>
        <h5 class="card-title text-center">VALORES</h5>
        <br>
        <p class="card-text fw-lighter">De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour vous conduira</p>
        <br>
        
    </div>
    </div>
  </div>
  
</div>

<br>
<br>


